.about-photo {
    margin: 100px auto;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    .photo {
        width: 100%;
        height: 80%;
        cursor: pointer;
        transition: all 1s ease-in-out;
        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        video {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @media (max-width:480px) {
        width: 90vw;
        gap: 10px;
        .photo {
            &:active {
                transform: scale(1.2);
                transition: all 0.3s ease-out;
            }
        }
    }
    @media (min-width:481px) {
        .photo {
            &:active {
                transform: none;
            }
        }
    }
}