.explain {
    width: 100vw;
    height: 500px;
    margin: 100px auto; 
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .txt {
        width: 80vw;
        text-align: center;
        font-weight: bold;
        margin-bottom: 3.125rem;
        .ex-txt {
            font-size: clamp(0.8rem, 2.5vw, 1.5rem);
        }
    }
    .menu-box {
        width: 60%;
        margin: 50px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .txt-box {
        width: 80%;
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
            text-align: center;
            font-size: clamp(0.8rem, 5vw, 2rem);
            white-space: nowrap;
        }
    }
    .tape-box {
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        button {
            border: none;
            background-color: transparent;
        }
    }
    .explain-project .sub {
        color: #000;
    }
    .explain-about .sub {
        color: #fff;
    }
    .tape-rela {
        position: relative;
        display: inline-block;
        .sub {
            position: absolute;
            top: 30%;      
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.125rem;
            font-weight: 500;
            opacity: 0; // 기본 상태
            transition: opacity 0.1s ease-out;
            &.show {
            opacity: 1;
            transform: translateX(-50%) translateY(0);
            }
        }
    }
    @media (max-width: 480px) {
        margin: 0;
        .tape-rela {
            pointer-events: none;
        }
        h2 .sub {
            display: block; 
            opacity: 1;
            visibility: visible
        }
        .explain-project .tape-rela img {
            content: url('../img/tape01.png');
        }
        .explain-about .tape-rela img {
            content: url('../img/tape10.png');
        }
        .menu-box {
            width: 100%;
            gap: 0;
        }
        .tape-box {
            display: block;
            .tape {
                img {
                    width: 80%;
                }
            }
        }
    }
}
