.project {

  #container {
    position: relative;
    margin: auto;
    width: 100vw;
    height: 500px;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
  }

  #text1, #text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
     margin-top: 20%;

    font-size: 80pt;
    color: black;
    text-align: center;
    font-weight: 700;
  }
}