.project-sub {
    width: 100vw;
    min-height: 1600px;
    margin: 0 auto;
    padding-bottom: 100px;
    .select-txt {
        display: flex;
        gap: 10px;
        button {
            border: none;
            background-color: transparent;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 50px;
            transition: all 0.2s;
            padding: 15px;

            &:hover {
            color: #1B8242; 
            }

            &.active {
            color: #1B8242; 
            }
        }
    }
    .project-list {
        min-height: 1400px;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(3, 1fr); 
        gap: 20px;
        justify-content: center;
        img {
            width: 450px;
            height: 300px;
            object-fit: cover;
            border-radius: 20px;
            box-shadow: 0 2px 4px #ccc;
        }
        .txt-box {
            margin-top: 20px;
            h3 {
                color: black;
                font-size: 19px;
            }
            p {
                font-size: 12px;
            }
        }
    }
    @media (max-width: 480px) {
        width: 100vw;
        .select-txt {
            gap: 0;
            justify-content: center;
            button {
                font-size: 18px;
                padding: 10px;
            }
        }
        .project-list {
            width: 100vw;
            min-height: auto;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            gap: 80px;
            .project-item {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            img {
                width: 250px;
                height: 150px;
                object-fit: cover;
                border-radius: 20px;
                box-shadow: 0 2px 4px #ccc;
            }
            .txt-box {
                width: 74%;
                margin-top: 20px;
                h3 {
                    color: black;
                    font-size: 19px;
                }
                p {
                    font-size: 12px;
                }
            }
        }
    }
}